<!DOCTYPE html>
<html>
<head>
<title>@title@</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<style>
body {background:#0079a1;font-family:Verdana, sans-serif;font-size:12pt}
body,a {color:#fff}
img {float:left;margin:0 10px 0 0}
div {margin:6px}
#title {font-size:16pt}
#refresh {margin:0 0 0 30px;padding:0 0 0 22px;background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBkPSJNMi4xIDlIMC4xIDB2NWwxLjUtMS40QzIuOSAxNC43IDUuMyAxNiA4IDE2YzQuMSAwIDcuNC0zLjEgNy45LTdoLTJjLTAuNSAyLjgtMi45IDUtNS45IDUgLTIuMSAwLTQtMS4xLTUtMi43TDUuNCA5SDIuMXpNOCAwQzMuOSAwIDAuNiAzLjEgMC4xIDdoMkMyLjYgNC4yIDUgMiA4IDJjMi4yIDAgNC4xIDEuMiA1LjEgMi45TDExIDdoMiAwLjkgMkgxNlYybC0xLjQgMS40QzEzLjEgMS40IDEwLjcgMCA4IDB6IiBmaWxsPSIjZmZmZmZmIi8+PC9zdmc+) 0 0 no-repeat;background-size:contain}
#home {padding:0 0 0 22px;background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNNTEyIDMwMy41TDI1NiAxMDQuOCAwIDMwMy41di04MUwyNTYgMjMuN2wyNTYgMTk4LjdWMzAzLjV6TTQ0OCAyOTYuM3YxOTJIMzIwdi0xMjhIMTkydjEyOEg2NHYtMTkybDE5Mi0xNDRMNDQ4IDI5Ni4zeiIvPjwvc3ZnPg==) 0 0 no-repeat;background-size:contain}
</style>
</head>
<body>
<a href="/"><img width="55" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIxIiBoZWlnaHQ9IjIyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGZpbGw9IiNmZmZmZmYiIHI9IjExMCIgY3k9IjExMC41IiBjeD0iMTEwLjUiLz48Y2lyY2xlIGZpbGw9IiMwMDc5YTEiIHI9IjgwIiBjeT0iMTEwLjUiIGN4PSIxMTAuNSIvPjxjaXJjbGUgZmlsbD0iI2ZmZmZmZiIgcj0iMjUiIGN5PSIxMTAuNSIgY3g9IjExMC41Ii8+PC9zdmc+" /></a>
<div id="title">@title@</div>
<div id="msg">@message@ <a href="" id="refresh">refresh</a> <a href="/" id="home">home</a></div>
</body>
</html>
