<!DOCTYPE html>
<html>
<head>
<title>@title@: @path@</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<style>
body {background:#0079a1;font-family:Verdana, sans-serif;font-size:10pt}
body,a {color:#fff;overflow-x: hidden;white-space: nowrap}
img {float:left;margin:0 10px 0 0}
div {margin:6px}
th {text-align:left}
td, th {padding:2px 15px 2px 2px;font-weight:normal;vertical-align:top}
tr:nth-child(even) {background: inherit}
tr:nth-child(odd) {background: #007097}
tr:hover, tr.selected {background:#78cef9;color:#000;cursor:pointer}
tr:first-child {background:#fff;color:#000;cursor:default}
a {color:inherit;text-decoration:none}
#title {font-size:16pt}
#msg {font-size:12pt}
#home {padding:0 0 0 22px;background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNNTEyIDMwMy41TDI1NiAxMDQuOCAwIDMwMy41di04MUwyNTYgMjMuN2wyNTYgMTk4LjdWMzAzLjV6TTQ0OCAyOTYuM3YxOTJIMzIwdi0xMjhIMTkydjEyOEg2NHYtMTkybDE5Mi0xNDRMNDQ4IDI5Ni4zeiIvPjwvc3ZnPg==) no-repeat 0 0;background-size:contain}
#files {border-spacing:0;margin-top: 15px}
</style>
<script type='text/javascript'>
window.onload = function() {
  let i, table = document.getElementById("files"),
      rows = table.getElementsByTagName('tr');
  for (i = 1; i < rows.length; i++) {
    rows[i].onclick = function() {
      let a = this.getElementsByTagName('a')[0];
      document.location.href = a.href;
      return false;
    }
  }
  let curRow = null, newRow = null;
  window.onkeydown = function(e) {
    if (e.keyCode === 13 && curRow) curRow.onclick.apply(curRow);
    else if (curRow === null && (e.keyCode === 38 || e.keyCode === 40)) newRow = rows[1];
    else if (curRow) {
      if (e.keyCode === 38 && curRow.previousSibling &&curRow.previousSibling.previousSibling) newRow = curRow.previousSibling;
      else if (e.keyCode === 40 && curRow.nextSibling) newRow = curRow.nextSibling;
    }
    if (curRow) curRow.className = '';
    if (newRow) {
      newRow.className = 'selected';
      curRow = newRow;
      curRow.scrollIntoView(false);
    }
    return !(e.keyCode === 13 || e.keyCode === 38 || e.keyCode === 40);
  }
}
</script>
</head>
<body>
<a href="/"><img width="55" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIxIiBoZWlnaHQ9IjIyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGZpbGw9IiNmZmZmZmYiIHI9IjExMCIgY3k9IjExMC41IiBjeD0iMTEwLjUiLz48Y2lyY2xlIGZpbGw9IiMwMDc5YTEiIHI9IjgwIiBjeT0iMTEwLjUiIGN4PSIxMTAuNSIvPjxjaXJjbGUgZmlsbD0iI2ZmZmZmZiIgcj0iMjUiIGN5PSIxMTAuNSIgY3g9IjExMC41Ii8+PC9zdmc+" /></a>
<div id="title">@title@</div>
<div id="msg"><a href="/" id="home"></a>@[dirs]@/<a href="@.path@">@.name@</a>@[/dirs]@/</div>
<table id="files">
<tr><th>Call</th><th>Method</th><th>Modify time</th></tr>@[files]@<tr><td><a href="@.path@">@.name@</a></td><td>@.method@</td><td>@.mtime@</td></tr>@[/files]@
</table>
</body>
</html>
