@import "compass";

@include global-reset;

body {
  font-family: sans-serif;
  font-weight: 100;
  background: #eee;
  }

.menubar {
  list-style: none;
  font-size: 14px;
  background: white;
  @include box-shadow(rgba(black, 0.2) 0 1px 1px);
  padding: 0 10px;
  }
.menubar-item {
  display: inline-block;
  position: relative;
  }
.menubar-item-target {
  color: black;
  display: block;
  padding: 10px 14px;
  text-decoration: none;

  &:hover, .is-selected & {
    background: #29a7f5;
    color: white;
  }
  }

.menu {
  @include box-shadow(rgba(black, 0.5) 0 5px 15px);
  @include border-radius(3px);
  @include border-top-left-radius(0);
  display: none;
  position: absolute;
  top: 100%;
  background: white;
  list-style: none;
  width: 15em;
  padding: 10px 0;

  .is-selected & { display: block; }
  }
.menu-item-target {
  color: black;
  display: block;
  padding: 8px 20px;
  text-decoration: none;

  &:hover {
    background: #29a7f5;
    color: white;
  }
  }
.menu-separator {
  border-top: 1px solid #ddd;
  margin: 8px;
  }

.bubble {
  margin: 10px;
  position: absolute;
  }
.bubble-content {
  background: black;
  background: rgba(black, 0.8);
  color: white;
  color: rgba(white, 0.9);
  padding: 15px;
  @include border-radius(25px);
  }
.bubble-tail {
  border: 10px solid transparent;
  border-top: none;
  border-bottom-color: black;
  border-bottom-color: rgba(black, 0.8);
  width: 0;
  position: relative;
  left: 50%;
  margin-left: -10px;
  }