# http://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[{*.js,*.mjs,*.ts,*.json,*.yml}]
indent_size = 2
indent_style = space
