<!DOCTYPE html>
<html>
<head>
  <title>@title@</title>
  <meta charset="UTF-8">
  <meta name="HandheldFriendly" content="true" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon-precomposed" href="/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="apple-touch-icon-precomposed" href="/favicon.png" />

  <link rel="stylesheet" type="text/css" href="/css/screen.css" />
  <link rel="stylesheet" type="text/css" href="/js/scroller/scroller.css" />

  <link rel="stylesheet" type="text/css" href="/js/slickgrid/css/smoothness/jquery-ui-1.10.3.custom.css" />
  <link rel="stylesheet" type="text/css" href="/js/slickgrid/slick.grid.css" />
  <link rel="stylesheet" type="text/css" href="/js/slickgrid/slick.grid.theme.css" />

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/eventsource.js"></script>
  <script type="text/javascript" src="/js/global.js"></script>
  <script type="text/javascript" src="/js/mobilization.js"></script>
  <script type="text/javascript" src="/js/wcl.js"></script>
  <script type="text/javascript" src="/js/scroller/scroller.js"></script>
  <script type="text/javascript" src="/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
  <script type="text/javascript" src="/js/jstree/jquery.jstree.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

  <script type="text/javascript" src="/js/slickgrid/lib/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="/js/slickgrid/lib/jquery.event.drag-2.2.js"></script>
  <script type="text/javascript" src="/js/slickgrid/slick.core.js"></script>
  <script type="text/javascript" src="/js/slickgrid/slick.dataview.js"></script>
  <script type="text/javascript" src="/js/slickgrid/slick.grid.js"></script>
  <script type="text/javascript" src="/js/slickgrid/slick.editors.js"></script>

  <script type="text/javascript" src="/js/init.js"></script>
</head>
<body>
  <div id="header">
    <div id="header-panel">
      <div id="logo-panel"><a href="/"><img src="/images/logo.png" width="238" height="87" border="0" /></a></div>
      <div id="hmenu-panel">
        <div id="hmenu">@[hmenu]@</div>
      </div>
    </div>
  </div>
  <div id="main">
    <div id="content">
      <div id="panel-left">@[left]@</div>
      <div id="panel-center">@[center]@</div>
      <div id="panel-right">@[right]@</div>
    </div>
  </div>
  <div id="footer">
    <div id="footer-panel">Copyright &copy; 2013 MetaSystems</div>
  </div>
  @[forms]@
</body>
</html>