* {
  padding: 0;
  margin: 0;
  outline: none;
  cursor: default;
  -moz-user-select: inherit;
  -webkit-user-select: inherit;
}
a, a * {
  cursor: pointer;
}
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 9pt;
  overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
}
input, textarea {
  -webkit-border-radius: 0;

  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
