<table width="100%">
  <tr>
    <th >Title</th>
    <th>Date</th>
    <th>Author</th>
    <th>Changes</th>
  </tr>
  @[list]@
  <tr>
    <td>@.title@</td>
    <td>@.date@</td>
    <td>@.author@</td>
    <td>
      <ul>@[changes]@
        <li>@.value@</li>
      @[/changes]@</ul>
    </td>
  </tr>
  @[/list]@
</table>
