{
  "name": "example",
  "version": "1.0.0",
  "private": true,
  "description": "Impress Application Server instance",
  "dependencies": {
    "impress": "0.6.x"
  },
  "engines": {
    "node": ">=0.6.0"
  }
}
