{
  "name": "example",
  "version": "2.0.0",
  "private": true,
  "description": "Impress Application Server instance",
  "dependencies": {
    "impress": "2.0.x"
  },
  "engines": {
    "node": ">=10.16.0"
  }
}
