<a class="button silver cancel" id="menuDBMI"><span class="icon db"></span>DB Metainterface</a>
<a class="button silver cancel" id="menuAJAX"><span class="icon file html"></span>AJAX handler</a>
<a class="button silver cancel" id="menuJSON"><span class="icon run"></span>JSON handler</a>
<a class="button silver cancel" id="menuTemplate"><span class="icon file source"></span>Templating</a>
<a class="button silver cancel" id="menuFileUpload"><span class="icon load up"></span>Upload files</a>
<a class="button silver cancel" id="menuDownload"><span class="icon load down"></span>Download files</a>
<a class="button silver cancel" id="menuGeoIP"><span class="icon globe"></span>Geo IP</a>
<a class="button silver cancel" id="menuSSE"><span class="icon talk"></span>Server-Sent Events</a>
<a class="button silver cancel" id="menuSendMail"><span class="icon mailto"></span>Send Mail</a>
