<!DOCTYPE html>
<html>
<head>
<title>Impress Application Server</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<style>
body {background:#0079a1;font-family:Verdana;font-size:10pt}
body,a {color:#fff;overflow-x: hidden}
img {float:left;margin:0 10px 0 0}
div {margin:6px}
th {text-align:left}
td, th {padding:2px 15px 2px 2px;font-weight:normal;vertical-align:top}
tr:nth-child(even) {background: inherit}
tr:nth-child(odd) {background: #007097}
tr:hover, tr.selected {background:#78cef9;color:#000;cursor:pointer}
tr:first-child {background:#fff;color:#000;cursor:default}
a {color:inherit;text-decoration:none}
#title {font-size:16pt}
#msg {font-size:12pt}
#files {border-spacing:0;margin-top: 15px}
.size {text-align:right}
</style>
</head>
<body>
<a href="/"><img width="55" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIxIiBoZWlnaHQ9IjIyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGZpbGw9IiNmZmZmZmYiIHI9IjExMCIgY3k9IjExMC41IiBjeD0iMTEwLjUiLz48Y2lyY2xlIGZpbGw9IiMwMDc5YTEiIHI9IjgwIiBjeT0iMTEwLjUiIGN4PSIxMTAuNSIvPjxjaXJjbGUgZmlsbD0iI2ZmZmZmZiIgcj0iMjUiIGN5PSIxMTAuNSIgY3g9IjExMC41Ii8+PC9zdmc+" /></a>
<div id="title">Impress Application Server landing page</div>
<div id="msg">Links: <a href="https://www.npmjs.com/package/impress">npm</a>, <a href="https://github.com/tshemsedinov/impress">Github</a></div>
<div>

<p>Impress follows alternative way in several aspects:</p>
<ul>
<li>No callback chain (no middleware), hierarchically inheritable hash routing instead</li>
<li>Monolithic high coupling core with obligatory things optimized for performance</li>
<li>Extensible plug-ins format for optionally needed things</li>
<li>Applied code simplicity, API code high-level abstraction and brevity</li>
<li>Support for both Stateful and Stateless approach</li>
<li>Application can&apos;t include Application Server, quite the opposite, Application Server is a container for Applications</li>
<li>No I/O is faster even then async I/O, so maximum memory usage and lazy I/O is the choice</li>
</ul>
<h2 id="installation-and-upgrade">Installation and upgrade</h2>
<ul>
<li>Install to project folder (mostly for development): <code>npm install impress</code> and configure</li>
<li>Install as a service for Linux: create directory <code>/impress</code> and type: <code>npm install impress</code></li>
<li>Install using package.json and <code>npm install</code>: not recommended but if you know what you&apos;re doing...</li>
<li>Installation scripts for empty server (from the scratch)<ul>
<li>For CentOS /deploy/centos.sh (tested on CentOS 6.5 64bit minimal)</li>
<li>For Ubuntu /deploy/ubuntu.sh (tested on Ubuntu 14.04 64bit minimal)</li>
<li>For Debian /deploy/debian.sh (tested for Debian 7.5 64bit minimal)</li>
</ul>
</li>
</ul>
<p>You can prepare scripts based on examples above and run at a target server shell:
<code>curl http://host/path/install.sh | sh</code> or <code>wget http://host/path/install.sh -O - | sh</code></p>
<p>To upgrade Impress version you can type &apos;npm update&apos; in Impress folder, but if Impress installed as a service it is better to use service CLI, see commands below.
If Impress Application Server is already installed in directory you want to install/update it using npm, /applications directory contains applications and /config contains configuration, you do not have to worry Impress will detect previous installation and will update just it&apos;s own libraries and dependencies.</p>
<h2 id="service-daemon-commands">Service (daemon) commands</h2>
<p>If Impress installed as a service (daemon) you can use following commands:</p>
<ul>
<li><code>service impress start</code></li>
<li><code>service impress stop</code></li>
<li><code>service impress restart</code> is equal to <code>stop</code> and <code>start</code> commands</li>
<li><code>service impress status</code> to show Impress processes CPU, MEM, RSS, TIME and other parameters</li>
<li><code>service impress update</code> to update and restart Application Server</li>
</ul>
<h2 id="features">Features</h2>
<ul>
<li>Can serve multiple applications and sites on multiple domains</li>
<li>Serves multiple ports, network interfaces, hosts and protocols</li>
<li>Can scale on multiple servers</li>
<li>Supports application sandboxing (configuration, db and memory access isolation)</li>
<li>Supports one or multiple CPU cores with following instantiation strategies:<ul>
<li>Single instance (one process)</li>
<li>Instance specialization (multiple processes, one master and different workers for each server)</li>
<li>Multiple instances (multiple processes, one master and identical workers with no sticky)</li>
<li>IP sticky (multiple processes, one master and workers with serving sticky by IP)</li>
</ul>
</li>
<li>URL routing based on file system<ul>
<li>Caching server-side executable JavaScript in memory</li>
<li>File system watching for cache reloading when file changes on disk</li>
</ul>
</li>
<li>API development support (simple way for JSON-based WEB-services development)<ul>
<li>RPC-style API (Stateful, state stored in memory between requests)</li>
<li>REST-style API (Stateless, each call is separate, no state in memory)</li>
</ul>
</li>
<li>Server server-side simple templating<ul>
<li>Caching templates in memory and ready (rendered) pages optional caching</li>
<li>Supports array and hash iterations and sub-templates including</li>
<li>Template personalization for user groups</li>
</ul>
</li>
<li>Application config changes with zero downtime<ul>
<li>Flexible configuration in JS or JSON format</li>
<li>File watch and automatic soft reloading when config.js file changes</li>
<li>No Impress server hard restarting</li>
</ul>
</li>
<li>Serving static files<ul>
<li>Gzipping and HTTP request field &quot;if-modified-since&quot; field support and HTTP 304 &quot;Not Modified&quot; answer</li>
<li>Memory caching and file system watching for cache reloading when files changed on disk</li>
<li>JavaScript optional (configurable) minification, based on module &quot;uglify-js&quot; as Impress plug-in</li>
</ul>
</li>
<li>Built-in sessions support with authentication and user groups and anonymous sessions<ul>
<li>Sessions and cookies (memory state or persistent sessions with MongoDB)</li>
<li>Access modifiers for each folder in access.js files and access inheritance</li>
</ul>
</li>
<li>Implemented SSE (Server-Sent Events) with channels and multi-cast</li>
<li>WebSockets support (even on shared host/port with other handlers, using regular connection upgrade)</li>
<li>Reverse-proxy (routing request to external HTTP server with URL-rewriting)</li>
<li>Logging: &quot;access&quot;, &quot;debug&quot;, &quot;error and &quot;slow&quot; logs<ul>
<li>Log rotation: keep logs N days (configurable) delete files after N days</li>
<li>Log buffering, write stream flushing interval</li>
<li>Each application can be logged to own folder and/or to server-wide logs</li>
</ul>
</li>
<li>Connection drivers for database engines:<ul>
<li>MySQL data access layer based on felixge/mysql low-level drivers (separate module &quot;musql-utilities&quot;)<ul>
<li>MySQL Data Access Methods: queryRow, queryValue, queryCol, queryHash, queryKeyValue</li>
<li>MySQL Introspection Methods: primary, foreign, constraints, fields, databases, tables, databaseTables, tableInfo, indexes, processes, globalVariables, globalStatus, users</li>
<li>MySQL SQL Autogenerating Methods: select, insert, update, upsert, count, delete</li>
<li>Events: &apos;query&apos;, &apos;slow&apos;</li>
</ul>
</li>
<li>MongoDB drivers as Impress plug-in</li>
<li>PgSQL drivers as Impress plug-in</li>
<li>Memcached drivers as Impress plug-in</li>
<li>Relational schema generator from JSON database schemas</li>
</ul>
</li>
<li>Sending Emails functionality using &quot;nodemailer&quot; module as Impress plug-in</li>
<li>IPC support (interprocess communications) for event delivery between Node.js instances</li>
<li>Integrated DBMI (Web-based management interface for MySQL and MongoDB)</li>
<li>GeoIP support, based on &quot;geoip-lite&quot; module as Impress plug-in (uses MaxMind database)</li>
<li>Social networking login using Passport.js as plug-in</li>
<li>Built-in simple testing framework</li>
<li>Server health monitoring</li>
</ul>
<h2 id="examples">Examples</h2>
<p>Example #1<br>To create GET request handler for URL <code>/api/method.json</code><br>File /api/method.json/get.js</p>
<pre><code class="lang-javascript">module.exports = function(client, callback) {
  callback({ field: &quot;value&quot; });
}
</code></pre>
<p>Result: <code>{ &quot;field&quot;: &quot;value&quot; }</code></p>
<p>Example #2<br>To create POST request handler for URL <code>/api/method.json</code><br>File /api/method.json/post.js</p>
<pre><code class="lang-javascript">module.exports = function(client, callback) {
  dbImpress.users.find({ group: client.fields.group }).toArray(function(err, nodes) {
    callback(nodes);
  });
}
</code></pre>
<p>Result:</p>
<pre><code class="lang-javascript">[
  { &quot;login&quot;: &quot;Vasia Pupkin&quot;, &quot;password&quot;: &quot;whoami&quot;, &quot;group&quot;: &quot;users&quot; },
  { &quot;login&quot;: &quot;Marcus Aurelius&quot;, &quot;password&quot;: &quot;tomyself&quot;, &quot;group&quot;: &quot;users&quot; }
]
</code></pre>
<p>Example #3<br>File &quot;access.js&quot; is something line &quot;.htaccess&quot;, you can easily define access restrictions for each folder, placing &quot;access.js&quot; in it.<br>If folder not contains &quot;access.js&quot; it will inherit from parent folder and so on. Example:</p>
<pre><code class="lang-javascript">module.exports = {
  guests:  true,  // Allow requests from anonimous users (not logged or no session)
  logged:  true,  // Allow requests from logged users
  http:    true,  // Allow requests using http protocol
  https:   true,  // Allow requests using https protocol
  groups:  [],    // Allow access for user groups listed in array
                  //   or for all if array is empty or no groups field specified
  intro:   true,  // Generate introspection for API methods in this directory
  index:   false, // Generate directory index
  virtual: true   // Allow requests to virtual paths, for CMS and REST URLs, etc.
}
</code></pre>
<h2 id="configuration">Configuration</h2>
<ol>
<li>Install Impress as described above.</li>
<li>Example application will start automatically and will open <code>http://127.0.0.1/</code></li>
<li>Edit <code>/config/*.js</code> to configure Application Server</li>
<li>You can create a directory for your new application inside <code>/applications</code>, for example: <code>/applications/myapp</code> and copy <code>/applications/example</code> into this directory to start with</li>
<li>Edit <code>/applications/myapp/config/hosts.js</code>, change <code>127.0.0.1</code> to <code>myapp.com</code>, certainly you need to register and configure domain name myapp.com or just add it into <code>hosts</code> file in your OS</li>
<li>Place your html to <code>/applications/myapp/app/html.template</code> and required files into directories <code>/js</code>, <code>/css</code>, <code>/images</code> and write API in live environment without restart</li>
<li>Run Impress using command <code>service impress start</code> (if installed as a service) or <code>node server.js</code></li>
</ol>
<h2 id="contributors">Contributors</h2>
<ul>
<li>Timur Shemsedinov (marcusaurelius)</li>
<li>See github for full contributors list</li>
</ul>
<h2 id="license">License</h2>
<p>Dual licensed under the MIT or RUMI licenses.</p>
<p>Copyright (c) 2012-2015 MetaSystems &lt;timur.shemsedinov@gmail.com&gt;</p>
<p>RUMI License: Everything that you want, you are already that.<br>// Jalal ad-Din Muhammad Rumi</p>

</div>
</body>
</html>