<!DOCTYPE html>
<html>
<head>
  <title>@title@</title>
  <meta charset="UTF-8">
  <meta name="HandheldFriendly" content="true" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link rel="apple-touch-icon-precomposed" href="/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="apple-touch-icon-precomposed" href="/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/css/screen.css" />

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/eventsource.min.js"></script>
  <script type="text/javascript" src="/js/impress.js"></script>
  <script type="text/javascript" src="/js/init.js"></script>
</head>
<body>
  <div id="header">
    <div id="header-panel">
      <div id="logo-panel"><a href="/"><img src="/images/logo.svg" width="87" height="87" border="0" /><h1><strong>Impress</strong><br>&nbsp;&nbsp;Application<br>&nbsp;&nbsp;&nbsp;&nbsp;Server</h1></a></div>
      <div id="hmenu-panel">
        <div id="hmenu">@[hmenu]@</div>
      </div>
    </div>
  </div>
  <div id="main">
    <div id="content">
      <div id="panel-left">@[left]@</div>
      <div id="panel-center">@[center]@</div>
      <div id="panel-right">@[right]@</div>
    </div>
  </div>
  <div id="footer">
    <div id="footer-panel">Copyright &copy; 2013-2015 MetaSystems</div>
  </div>
  @[forms]@
</body>
</html>