<h3>Template</h3>
<hr>
SID: @.sid@; Empty: @.empty@; Title: @title@,<br>
nNull: @.nNull@, bTrue: @.bTrue@, bFalse: @.bFalse@, dData: @.dData@, aArray: @.aArray@,<br>
oObj: @.oObj@, oObj.a: @.oObj.a@, oObj.a.b @.oObj.a.b@, oObj.k.l.m.n @.oObj.k.l.m.n@,<br>
<hr>
@[users]@
  <div>
    User name: @.name@<br/>
    User age: @.age@<br/>
    Email addresses:
    <ul>
      @[emails]@
        <li>@.value@</li>
      @[/emails]@
    </ul>
  </div>
  <br>
@[/users]@
