/*
*v. 0.2.1
*/
.scrollerContent {
  position: absolute;
  height: 100%;
  width: 100%;

  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;

  margin:0;
  padding:0;

  outline: none;
}


.scrollthumb-v, .scrollthumb-h, .srcolltrack-v, .srcolltrack-h{
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.scrollthumb-v, .scrollthumb-h {
  position: relative;
  background: #9F9F9F;
}

.srcolltrack-v, .srcolltrack-h{
  position: absolute;
  /*background: #E4E4E4;*/
}

.scrollthumb-v {
  width: 7px;
}
.srcolltrack-v {
  width: 7px;
  height: 100%;
  top:0;
  right:0;
  margin: 2px 2px 2px 0;
}

.scrollthumb-h {
  height: 7px;
}
.srcolltrack-h {
  height: 7px;
  width: 100%;
  bottom: 0;
  left:0;
  margin: 0 2px 1px 2px;
}
